{% extends 'base.html' %}

{% load staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block group_select %}

{% endblock group_select %}
{% block content %}
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'students_add' %}">Додати Студента</a>
    {% endif %}
     <!-- Start Students Listing -->
                    <table class="table table-hover table-striped">
                    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                        <thead>
                          <tr>
                              <th>#</th>
                              <th>Фото</th>
                              <th><a href="{% url "home" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                  Прізвище
                                  {% if order_by == 'last_name' and reverse != '1' %}&uarr;
                                  {% elif  order_by == 'last_name' and reverse == '1' %}&darr;
                                  {% endif %}
                                  </a>
                              </th>
                              <th><a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                  Ім'я
                                  {% if order_by == 'first_name' and reverse != '1' %}&uarr;
                                      {% elif  order_by == 'first_name' and reverse == '1' %}&darr;
                                  {% endif %}
                              </a>
                              </th>
                              <th><a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                  № Білету
                                  {% if order_by == 'ticket' and reverse != '1' %}&uarr;
                                      {% elif  order_by == 'ticket' and reverse == '1' %}&darr;
                                  {% endif %}
                              </a>
                              </th>
                              <th>Дії</th>
                          </tr>
                        </thead>
                    {% endwith %}
                        <tbody>
                        {% for student in students %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                              {% if student.photo %}
                            <td><img height="30" width="30" class="img-circle"
                                     src="{{ student.photo.url }}"></td>
                              {% else %}
                              <td><img height="30" width="30" class="img-circle"
                                     src="{% static 'img/default_user.png' %}"></td>
                              {% endif %}
                            <td> {% if user.is_authenticated %}<a title="Редагувати" href="{% url "students_edit" student.id %}" class="student-edit-form-link">{{ student.last_name }}</a>{% else %}
                            {{ student.last_name }}{% endif %}</td>
                            <td>{% if user.is_authenticated %}<a title="Редагувати" href="{% url "students_edit" student.id %}" class="student-edit-form-link">{{ student.first_name }}</a> {% else %}
                            {{ student.first_name }}{% endif %}</td>
                            <td>{{ student.ticket }}</td>
                            <td>
                                {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "journal" student.id %}">Відвідування</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "students_edit" student.id %}" class="student-edit-form-link">Редагувіти</a> </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "students_delete" student.id %}">Видалити</a> </li>
                                    </ul>
                                </div>
                                {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                   {% include 'paginator.html' %}
                    <!-- End Students Listing-->

{% endblock content %}
{% block footer %}
    <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2016 Сервіс Обліку Студентів
            </div>
        </div>
{% endblock footer %}
