<!DOCTYPE html>
<html>
<head lang="uk">
    <meta charset="UTF-8">
    <title>Сервіс Обліку Студентів Навчального Закладу</title>
    <meta name="description" content="Сістема Обліку Студентів Навчального Закладу">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/home/berluskuni/Virtualenvs/studentsdb/src/studentsdb/static/css/main.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Start Container -->
    <div class="container">

        <!-- Start Header-->
        <div class="row">

            <!-- Logo -->
            <div class="col-xs-8">
                <h1>Сервіс Обліку Студентів</h1>
            </div>

            <!-- Groups Selector -->
            <div class="col-xs-4" id="group-selector">
                <strong>Група:</strong>
                <label>
                    <select>
                        <option value="">Усі Студунти</option>
                        <option value="">МтМ - 21, Сергій Ганжела(№ 254)</option>

                    </select>
                </label>
            </div>
        </div>
        <!-- End Header -->
        <!-- Start SubHeader -->
        <div class="row" id="sub-header">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#">Студенти</a> </li>
                    <li role="presentation" class="active"><a href="#">Відвідування</a> </li>
                    <li role="presentation"><a href="#">Групи</a> </li>
                </ul>
            </div>
        </div>
        <!-- End SubHeader -->
        <!-- Start Main Page Content -->

            <div class="row" id="content-columns">
                <h2>Облік Відвідування</h2>
            </div>
                  <p id="journal-nav" class="text-center">
                      <a href="#">&larr;</a><strong>жовтень 2014</strong>
                      <a href="#">&rarr;</a>
                  </p>
            <table class="table table-hover table-striped table-bordered"
                    id="students-journal">
                        <thead>
                          <tr>
                              <th>#</th>
                              <th>Cтудент</th>
                              <th>Ср<br>1</th><th>Чт<br>2</th><th>Пт<br>3</th>
                              <th>Сб<br>4</th><th>Вс<br>5</th><th>Пн<br>6</th><th>Вт<br>7</th>
                              <th>Ср<br>8</th><th>Чт<br>9</th><th>Пн<br>10</th><th>Сб<br>11</th>
                              <th>Вс<br>12</th><th>Пн<br>13</th><th>Вт<br>14</th><th>Ср<br>15</th>
                              <th>Чт<br>16</th><th>Пн<br>17</th><th>Сб<br>18</th><th>Вс<br>19</th>
                              <th>Пн<br>20</th><th>Вт<br>21</th><th>Ср<br>22</th><th>Чт<br>23</th>
                              <th>Пт<br>24</th><th>Сб<br>25</th><th>Вс<br>26</th><th>Пн<br>27</th>
                              <th>Вт<br>28</th><th>Ср<br>29</th><th>Чт<br>30</th><th>Пт<br>31</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <th>1</th>
                              <th><a title="Редагувати" href="#">Сергій Ганжела</a></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>

                          </tr>
                          <tr>
                              <th>2</th>
                              <th><a title="Редагувати" href="#">Андрій Ганжела</a></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>
                              <th><label><input type="checkbox" name="visit"></label></th>

                          </tr>
                        </tbody>
            </table>
        </div>
    <!-- Start Footer -->
        <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2016 Сервіс Обліку Студентів
            </div>
    </div>
        <!-- End Footer -->

</body>
</html>